.cell {
  width: 18px;
  height: 4px;
  transition: background 0.5s;
}

.hidden {
  visibility: hidden;
}

.red {
  background: var(--c-red);
}

.pink {
  background: var(--c-pink);
}

.green {
  background: var(--c-green);
}

.blue {
  background: var(--c-blue);
}

.grey {
  background: var(--c-surface1);
}

@keyframes glowing-pink-red {
  0% {
    background-color: var(--c-pink);
  }
  40% {
    background-color: var(--c-pink);
  }
  100% {
    background-color: var(--c-red);
  }
}

@keyframes glowing-grey-green {
  0% {
    background-color: var(--c-surface1);
  }
  40% {
    background-color: var(--c-surface1);
  }
  100% {
    background-color: var(--c-green);
  }
}

.glowing.red {
  animation: 2.5s ease-in -1s infinite alternate glowing-pink-red;
}

.glowing.green {
  animation: 2.5s ease-in -1s infinite alternate glowing-grey-green;
}
